@model IEnumerable<Skateshop.Composite.Product>

@{
    ViewData["Title"] = "Admin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Admin</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                ID
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            long id = 0;
            @if (item is DeckProduct)
            {
                id = ((DeckProduct)item).Id;
            }
            else if (item is TrucksProduct)
            {
                id = ((TrucksProduct)item).Id;
            }
            <tr>
                <td>
                    @Html.DisplayText(id.ToString())
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
